@use "sass:math";

.footer {
    padding: math.div($separacion, 2) 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding-top: math.div($separacion, 2) 0;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
} 